<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hireSystem.service.mapper.HireSignUpMapper">
    
	<!-- 아이디 중복체크 -->
	<select id="checkDuplicationID" parameterType="String" resultType="int">
		SELECT 
			 COUNT(*)
		FROM HIRE_USER
		WHERE USER_ID = #{id}
	</select>
	
	<!-- 대표이미지 업데이트 -->
	<update id="updateUserPhoto" parameterType="map">
		UPDATE HIRE_USER SET
			USER_PHOTO_NAME = #{userPhotoName}
			, USER_PHOTO_PATH = #{userPhotoPath}
			, USER_PHOTO_ORIGINALNAME = #{userPhotoOriginalname}
		WHERE
			USER_NUM = #{userNum}
	
	</update>
	
</mapper>